fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
python-dotenv
httpx
celery
redis
python-multipart
pymysql
cryptography
fpdf
selenium
webdriver-manager
passlib[bcrypt]
python-jose[cryptography]
